*{

    padding: 0;
    margin:0;
    box-sizing: border-box;
}

header{

    box-shadow: 0px 4px 15px 5px rgba(255, 218, 194, 0.508);
    z-index: 99;
    position: relative;
}

.menu{
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo{
    display: flex;
    max-width: 7vw;
    flex-grow: 2;
}

.menu_principal{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: baseline;
    font-size: 15px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.btmenu{

    padding: 9px;
    border-radius: 30px;
    transition-duration: 0.7s;
    transition-timing-function:ease;
}

.btmenu:hover{

    padding: 9px;
    border: 2px;
    border-color: brown;
    border-bottom-style: solid;
    border-radius: 30px;
    transition-duration: 0.1s;
    transition-timing-function:ease;
}

.button{

    display:flex;
    background-color: brown;
    color:rgb(255, 255, 255);
    padding: 15px;
    border:2px solid;
    border-radius: 30px;
    transition-duration: 0.4s;
    transition-timing-function: ease;

}

.button:hover{

    color:brown;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border:2px solid;
    border-color: brown;
    transition-timing-function: ease;

}

/*Style do banner do site=====================================================================*/

.banner {

    display: flex;
    position: relative;
    background-image: url("/imagens/cachorro\ quente\ banner.jpg");
    background-size: cover;
    height: 50vw;
    position: relative;

}

.slogan{

    display: flex;
    width: 90%;
    margin: 0 auto;
    content: 50%;
    flex-direction: column;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}


.slogan h1{

    display: flex;
    font-size: 5em;
    padding-bottom: 30px;
    flex-direction: column;
    padding-top: 1.5em;

    
}

.slogan h2{

    display: flex;
    font-size:3em;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
}
.slogan p{

    text-align: justify;
    font-size: 15px;
}

.opacidade{

    background-color: rgba(0, 0, 0, 0.508);
    width:100%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.8) 0%, rgba(39, 39, 39, 0.5) 50%, rgba(237, 221, 83, 0) 100%);
}

.buttonBanner{

    display: flex;
    width: 15vw;
    padding: 15px;
    margin-left: 9vw;
    margin-top: 4em;
    border:2px solid;
    border-color: antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    color:antiquewhite;
    justify-content: center;
    transition-duration: 0.4s;
    transition-timing-function: ease;

}

.buttonBanner:hover{

    width: 15vw;
    padding: 15px;
    margin-left: 9vw;
    margin-top: 4em;
    border:2px solid;
    border-color: antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    color:antiquewhite;
    justify-content: center;
    transition-timing-function: ease;
    box-shadow:0px 1px 15px 5px rgba(255, 218, 194, 0.508) ;

}

/*FIM DA PRODUCAO DO BANNER*/

footer{

    color: brown;
    box-shadow: 0px 4px 15px 5px rgba(185, 152, 130, 0.508);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 .a img{

    max-width: 5vw;
    border-radius: 50px;
 }

 .parteP{

    display: flex;
    color:color;
    justify-content: space-around;
    align-content: baseline;
    padding:2em;
 }

 .a{
    display: flex;
    flex-direction: column;
 }

 .b{
    display: flex;
    flex-direction: column;
 }

 .c{
    display: flex;
    flex-direction: column;
    gap:5px

 }

 .cA{
    display: flex;
    gap:15px;
 }

 .d{
    display: flex;
    flex-direction: column;
 }


.parteS{

    display: flex;
    padding: 1em;
    border: 1px;
    border-color:rgb(168, 88, 88);
    border-top-style: solid;
    justify-content: center;
    color:brown;
}

/*caracterização da main*/

.prato{

    max-height: 13.2vw;
}

.PratosDstq{

    display:flex;
    margin-right: 2vw;
    justify-content: space-around;
}

.pratos{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:40px;
    width: 55%;
}

.destaque{

    display:flex;
    flex-direction: column;
    align-items: center;
    gap:3vw;
    margin: 85px;
}

.destaque h2{

    font-size: 2.5vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.destaque p {

    margin-top: 25px;
    font-size: 1vw;
    text-align: center;
}

.prato1 img{
    display: flex;
    flex-direction: column;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
}

.prato1{

    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 15px 5px rgba(185, 152, 130, 0.508);
    width: 25vw;
    height: 30vw;
    border-radius: 20px;
    font-size: 1vw;
}

.descricao{

    display: flex;
    margin:30px;
    gap:4vw;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ver{

    display:flex;
    margin-right: 15px;
    justify-content: space-between;
    align-items: baseline;
}

.vermais:hover{

    color:brown;
}

/*comentarios*/

.Comentarios{

    display:flex;
    background-color: antiquewhite;
    height: 20vw;
    margin-top: 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*novidades*/

.novidades{

    display:flex;
    background-color: aliceblue;
    height: 20vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3vw;

}

/* Sidebar */

.video{

    display:flex ;
    flex-direction: column;
    gap:1.5vw;
    margin:1vw;
    border-radius: 20px;
    box-shadow: -5px 12px 15px 5px rgba(185, 152, 130, 0.508);
    width: 31vw;
    height: 26vw;
    gap:1vw;
    margin-top: 5vw;
}

.video iframe{

    display: flex;
    align-self: center;
    border-radius: 20px;
}

.video h1{
    margin-top: 1vw;
    margin-left:1vw;
    font-size: 1.7vw;
}

.video p{
    margin-left:1vw;
    font-size: 1.2vw;
}

.horario{

    display:flex ;
    gap:1.5vw;
    margin:1vw;
    border-radius: 20px;
    box-shadow: -5px 12px 15px 5px rgba(185, 152, 130, 0.508);
    width: 31vw;
    height: 15vw;
    gap:2vw;
    margin-top: 5vw;
    font-size: 1.8vw;
    justify-content: space-around;
}

.reserva{

    
    display:flex ;
    flex-direction: column;
    gap:1.5vw;
    margin:1vw;
    border-radius: 20px;
    box-shadow: -5px 12px 15px 5px rgba(185, 152, 130, 0.508);
    width: 31vw;
    height: 15vw;
    gap:1vw;
    margin-top: 5vw;
}