*{

    padding: 0;
    margin:0;
    box-sizing: border-box;
}

header{

    box-shadow: 0px 4px 15px 5px rgba(255, 218, 194, 0.508);
    z-index: 99;
    position: relative;
}

.menu{
    display: flex;

    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;



}

.logo{
    display: flex;
    max-width: 7vw;
    flex-grow: 2;
}

.menu_principal{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: baseline;
    font-size: 15px;
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.btmenu{

    padding: 9px;
    border-radius: 30px;
    transition-duration: 0.7s;
    transition-timing-function:ease;
}

.btmenu:hover{

    padding: 9px;
    border: 2px;
    border-color: brown;
    border-bottom-style: solid;
    border-radius: 30px;
    transition-duration: 0.2s;
    transition-timing-function:ease;
}

.button{

    display:flex;
    background-color: brown;
    color:rgb(255, 255, 255);
    padding: 15px;
    border:2px solid;
    border-radius: 30px;
    transition-duration: 0.4s;
    transition-timing-function: ease;

}

.button:hover{

    color:brown;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border:2px solid;
    border-color: brown;
    transition-timing-function: ease;

}

/*Style do banner do site=====================================================================*/

.banner {

    display: flex;
    position: relative;
    background-image: url("/imagens/cachorro\ quente\ banner.jpg");
    background-size: cover;
    height: 50vw;
    position: relative;

}

.slogan{

    display: flex;
    width: 90%;
    margin: 0 auto;
    content: 50%;
    flex-direction: column;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}


.slogan h1{

    display: flex;
    font-size: 5em;
    padding-bottom: 30px;
    flex-direction: column;
    padding-top: 1.5em;

    
}

.slogan h2{

    display: flex;
    font-size:3em;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: center;
}
.slogan p{

    text-align: justify;
    font-size: 15px;
}

.opacidade{

    background-color: rgba(0, 0, 0, 0.508);
    width:100%;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.8) 0%, rgba(39, 39, 39, 0.5) 50%, rgba(237, 221, 83, 0) 100%);
}

.buttonBanner{

    display: flex;
    width: 15vw;
    padding: 15px;
    margin-left: 9vw;
    margin-top: 4em;
    border:2px solid;
    border-color: antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    color:antiquewhite;
    justify-content: center;
    transition-duration: 0.4s;
    transition-timing-function: ease;

}

.buttonBanner:hover{

    width: 15vw;
    padding: 15px;
    margin-left: 9vw;
    margin-top: 4em;
    border:2px solid;
    border-color: antiquewhite;
    border-radius: 30px;
    text-decoration: none;
    color:antiquewhite;
    justify-content: center;
    transition-timing-function: ease;
    box-shadow:0px 1px 15px 5px rgba(255, 218, 194, 0.508) ;

}





